<form [formGroup]="registerForm" (submit)="register()" autocomplete="off">
  <h4 class="text-center text-primary mb-4">Sign Up</h4>
  <hr>

  <div class="form-group">
      <label class="control-label" style="margin-right: 15px;"> I am a : </label>
      <label class="radio-inline">
        <input type="radio" value="male" formControlName='gender'> Male
      </label>
      <label class="radio-inline ml-5">
        <input type="radio" value="female" formControlName='gender'> Female
      </label>
  </div>
  <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
  <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Known As"'></app-text-input>
  <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date Of Birth"' [maxDate]="maxDate"></app-date-input>

  <app-text-input [formControl]='registerForm.controls["city"]' [label]='"City"'></app-text-input>
  <app-text-input [formControl]='registerForm.controls["country"]' [label]='"Country"'></app-text-input>

  <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
  <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confrim Password"' [type]='"password"'></app-text-input>

  <div class="container form-group text-center">
     <button class="btn btn-success mr-3" type="submit">Register</button>
     <button class="btn btn-secondary mr-3" type="button" (click)="cancel()">cancel</button>
  </div>
</form>

<p>Form Value : {{registerForm.value | json}}</p>
<p>Form status : {{registerForm.status | json}}</p>
