.rounded-circle {
  max-height: 40px;
}
.card{
  border: none;
}

.chat{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat li{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
